body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.error {
  color: red;
}

#filterForm {
  border: 1px solid #ddd;
  padding: 15px;
  background: #f9f9f9;
  max-width: 800px;
  margin-top: 10px;
}

.filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9em;
}

.form-group input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  border-radius: 4px;
}

button:hover {
  background-color: #d0d0d0;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #b02936;
}

.success {
  color: green;
  margin-bottom: 10px;
}

.action-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.update-client-status-controls {
  display: flex;
  gap: 5px
}

.red {
  color: red;
}

.green {
  color: green;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.integration-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  white-space: nowrap;
}

.edit-status-button {
  font-size: 0.8em;
  padding: 2px 5px;
}
